{% extends "bootstrap/base.html"  %}

{% block title  %}提交数据{% endblock %}

{% block content %}
    <h2>提交数据</h2>
    <form action="." method="POST">
       {{ csrf_token }}
     <p>username:<input type="text" name="username"></p>
     <p>password:<input type="text" name="email"></p>
     <input type="submit" id="sub" value="提交">
   </form>
   <h2>展示数据</h2>
   {% for message in message_list %}
     <ul>
         <li>{{ message['username'],message['email'] }}</li>
     </ul>
   {% endfor %}
{% endblock %}

